html {
    overflow-y: hidden;
}

body {
    background-image: url(icons/MyAccount\ Page.svg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 100vh;

    font-family: 'Lato', sans-serif;
}

.results {
    /* background: #fff; */

    width: 55%;
    height: 45%;

    margin-top: 15%;
    margin-left: 22%;
}

.members {
    column-count: 3;
    column-gap: 40px;
    font-weight: bolder;
}

.teamName {
    color: #996BAE;
    font-weight: bolder;
    text-align: center; 

    /* padding-left: px; */
    margin-bottom: 0;
}

.members p {
    color: #996BAE;
    font-weight: bolder;
    font-size: 25px;

    margin: 0;
}

.trophy {
    margin-left: 0px;
    text-align: center;
}

.trophy img {
    width: 150px;
}

#score {
    width: 170px;
    height: 45%;
    margin-top: 0;
    /* margin-left: 280px; */
    margin-bottom: 150px;  
    margin-right: 0; 
    margin-left: 30px;
    padding: 60px 0 100px 0;

    text-align: center;

    /* background-color: aliceblue; */
}

#score p {
    font-size: 30px;
    /* font-weight: bolder; */
    
    padding-bottom: 60px;
}

#score a{
    text-decoration: none;
    background-color: #996BAE;
    color: #fff;

    padding: 10px 40px;
    border-radius: 30px;
}

#score a:hover {
    background-color: #622B7C;
}